section.selfintro
    .wrap.row-flex.row-flex-row.limit-width
        .sign
            img(src="img/github.png", alt="")
        .intro
            h3.title Lorem ipsum dolor sit amet.
            p.content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quod non optio suscipit? Sequi, unde, repudiandae, culpa dolorem atque necessitatibus molestias at fugit aut corporis optio vitae, doloribus beatae facilis!
            ul.contact
                li 
                    a(href="") GitHub
                li
                    a(href="") Weibo