.container {
    margin-top: 3em;
    margin-bottom: 6em;
}

.archive,
.post {
    flex: 6;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    background-color: #444;
    article.post-block {
        padding: 40px 40px 30px;
        font-size: 16px;
    }
    h2.post-title {
        margin-top: 0;
        font-size: 30px;
        font-weight: 600;
    }
    ul.post-tag-list {
        display: inline-block;
        padding-left: 0;
        margin: 0 10px 0 -50px;
        padding: 6px 10px 8px;
        padding-left: 50px;
        border-radius: 0 5px 5px 0;
        position: relative;
        box-shadow: 0 1px 5px rgba(0,0,0,0.3),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 0 rgba(0,0,0,0.3);
        background-color: #9e2812;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzllMjgxMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZjBkMGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background-image: linear-gradient(to bottom, #9e2812 0%, #6f0d0d 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e2812', endColorstr='#6f0d0d',GradientType=0 );
        &:before {
            content: "";
            position: absolute;
            top: -10px;
            left: 0;
            border-color: transparent #6f0d0d #6f0d0d transparent;
            border-style: solid;
            border-width: 5px;
            width: 0;
            height: 0;
        }
        li.post-tag-item {
            display: inline-block;
            margin-right: 5px;
            font-weight: 600;
            text-transform: uppercase;
            text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
        }
        .post-tag-link {
            color: white;
        }
    }
    .post-time {
        display: inline-block;
        color: #c0c0c0;
        font-weight: 600;
        text-shadow: 0 -1px 0 #000;
    }
}

.archive {
    ul.post-list {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    li.post-list-item+li.post-list-item {
        margin-top: -10px;
        border-radius: 0 0 10px 10px;
        border-top: 1px solid #555;
        box-shadow: 0 -1px 0 #2f2f2f;
    }
}

.post-content {
    font-weight: 300;
    text-align: left;
    margin-top: 2em;
    h2, h3, h4, h5, h6 {
        margin: 1em 0;
        font-size: 28px;
    }
    pre, code {
        display: inline-block;
        margin: 0 2px;
        padding: 0 0.5em;
        font: 14px/1.8em Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
        white-space: pre-line;
    }
    img {
        width: 100%;
    }
    li {
        padding-bottom: 5px;
    }
    p {
        margin: 1em 0;
        font-size: 16px;
    }
    & > table {
        width: 100%;
        margin: 1em 0;
        border-radius: 5px;
        background-color: #555;
        box-shadow: 0 1px 3px rgba(0,0,0,0.3);
        thead {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            color: #fff;
            background-color: #3a3a3a;
            background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNhM2EzYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTFlMWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background-image: linear-gradient(to bottom, #3a3a3a 0%, #1e1e1e 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#1e1e1e',GradientType=0 );
        }
        th {
            position: relative;
            text-transform: uppercase;
            font-size: 16px;
            padding: .5em .75em;
            text-shadow: 0 -1px 0 rgba(0,0,0,0.9);
            color: #888;
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
            &:first-child {
                border-top-left-radius: 5px
            }
            &:last-child {
                border-top-right-radius: 5px;
            }
        }
        td {
            padding: .5em .75em;
            border-top: 1px solid #747474;
            border-top: 1px solid rgba(0,0,0,0.1);
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
            background-image: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#00ffffff',GradientType=0 );
        }
    }
}

.note {
    position: relative;
    margin: 30px 0;
    margin-left: -50px;
    padding: 20px 15px 24px 20px;
    padding-left: 50px;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 1px 5px rgba(0,0,0,0.3),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 0 rgba(0,0,0,0.3);
    background-color: #7e6d42;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdlNmQ0MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1YzRlMzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: linear-gradient(to bottom, #7e6d42 0%, #5c4e35 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e6d42', endColorstr='#5c4e35',GradientType=0 );
    &:before {
        content: "";
        position: absolute;
        top: -10px;
        left: 0;
        width: 0;
        height: 0;
        border-width: 5px;
        border-style: solid;
        border-color: transparent #222 #222 transparent;
    }
    &:after {
        content: '\2605';
        position: absolute;
        top: 14px;
        left: 14px;
        font-size: 28px;
        font-weight: 700;
        color: #fc0;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    }
    h5, p {
        color: #fff;
        margin: 0;
    }
    h5 {
        font-size: 24px;
        line-height: 1.5em;
        font-weight: 600;
        font-style: normal;
    }
    p {
        font-size: 16px;
        font-weight: 400;
    }
    br {
        display: none;
    }
    code {
        background-color: #333;
        background-color: rgba(0,0,0,0.2);
        margin-left: 2.5px;
        margin-right: 2.5px;
        font-size: 0.8em;
    }
    &.info {
        background-color: #0389aa;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAzODlhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDYxN2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background-image: linear-gradient(to bottom, #0389aa 0%, #00617f 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0389aa', endColorstr='#00617f',GradientType=0 );
        &:before {
            border-color: transparent #00617f #00617f transparent;
        }
        &:after {
            content: '\24D8';
            color: #fff;
            position: absolute;
            top: 15px;
            left: 15px;
            font-size: 28px;
            font-weight: 700;
            text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
        }
    }
    &.warning {
        background-color: #9e2812;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzllMjgxMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZjBkMGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background-image: linear-gradient(to bottom, #9e2812 0%, #6f0d0d 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e2812', endColorstr='#6f0d0d',GradientType=0 );
        &:before {
            border-color: transparent #6f0d0d #6f0d0d transparent;
        }
        &:after {
            content: '\203C';
            color: #fc0;
            position: absolute;
            top: 15px;
            left: 15px;
            font-size: 32px;
            font-weight: 700;
            text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
        }
    }
    &.unreleased {
        background-color: #cd9239;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NkOTIzOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMjc1MjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background-image: linear-gradient(to bottom, #cd9239 0%, #a27528 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd9239', endColorstr='#a27528',GradientType=0 );
        &:before {
            border-color: transparent #664719 #664719 transparent;
        }
        &:after {
            content: '\2692';
            color: #2b2a12;
            position: absolute;
            top: 8px;
            left: 15px;
            font-size: 38px;
            font-weight: 700;
            text-shadow: 0 1px 0 rgba(255,255,255,0.25)
        }
    }
}

.highlight,
p > pre,
p > code,
p > nobr > code,
li > code,
h5 > code,
.note > code {
    background-color: #2b2b2b;
    color: #fff;
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: inset 0 1px 10px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1),0 -1px 0 rgba(0,0,0,0.5);
}

.highlight {
    margin: 1em 0;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: inset 0 1px 10px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1),0 -1px 0 rgba(0,0,0,0.5);
    color: #fff;
    background-color: #2b2b2b;
    overflow: auto;
    .comment {
        opacity: 0.4;
    }
    .gutter {
        display: none;
    }
    pre {
        margin: 0;
    }
}