.copyright
  p
    | &copy;&nbsp;
    = new Date().getFullYear() 
    | &nbsp;
    if config.author
      = config.author
    else
      = config.title
    | · 
    a(href="http://weibo.com/sunchongsheng") Weibo
    | · 
    a(href="https://github.com/pinggod") GitHub
    | · 
    a(href="http://pinggod.com/mailto:pinggodstudio@gmail.com") Gmail