meta(charset="utf-8")
meta(name="X-UA-Compatible", content="IE=edge")

title 
  block site_title
    = config.title

if config.description
  meta(name="description", content=config.description)
meta(name="viewport", content="width=device-width, initial-scale=1")

//- <link rel="apple-touch-icon" href="apple-touch-icon.png">
<!-- Place favicon.ico in the root directory -->
link(rel="short icon", href=config.root + "img/favicon.ico")

link(rel="stylesheet", href=config.root + "css/main.css")
script(src="http://cdn.bootcss.com/modernizr/2.8.3/modernizr.min.js")