doctype
html.no-js(lang=config.language)
  head
    include head

  body

    | <!--[if lt IE 8]>
    |     <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    | <![endif]-->

    header.header
      include logo
      include nav
    section.container
      block content
      footer.footer
        include footer
    include scripts
