.logo
  a(href=url_for())
    img(src=config.root + "img/pinggod.png", alt="pinggod-logo")
  //-   = config.title
  //- if config.subtitle
  //-   p
  //-     != config.subtitle
  //- img(src=config.root + "img/pinggod.png", alt="pinggod-logo")