a:link, a:visited {
  color: $default-color;
}
a:hover, a:focus, a:active {
  color: $active-color;
}
iframe {
  display: block;
  width: 100%;
  margin: 1em auto;
}
blockquote p{
  border-left: 15px solid $stroke-color;
  padding-left: 1em;
}
table {
  min-width: 50%;
  margin: 1em auto;
  thead {
    padding: 3px 1em;
    background-color: $stroke-color;
  }
  tbody td{
    padding: 0 1em;
  }
  tbody tr:nth-child(2n){
    background-color: $fill-color;
  }
  th {
    text-align: center !important;
  }
}

body {
  font-family: $default-fonts;
  background-color: $background-color;
}

header {
  text-align: center;
  a {
    display: block;
    width: 100%;
    margin: 0;
    line-height: 2em;
  }
}

section {
  background-color: $container-color;
  box-shadow: 0 0 30px $stroke-color; 
}
.post-list {
  border-bottom: 1px solid $stroke-color;
  .post-list-links {
    display: block;
    width: 100%;
    margin: 10px 0;
    font-size: 2em;
    line-height: 1.5em;
  }
}
.post-meta, 
.post-tag, 
.post-tag li,
.post-tag a {
  display: inline-block;
  font-family: $default-fonts;
}
.post-meta, .post-tag a {
  color: $meta-color;
}
.post-time {
  display: inline-block;
}
.post-tag {
  padding: 0 0 0 10px;
}
.post-tag a{
  margin: 0 2px;
  border: 1px solid $stroke-color;
  padding: 0 8px;
  border-radius: 10px;
  @include active-effect();
}
.post-content {
  margin-top: 2em;
  color: $content-color;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.5em;
}
.post-content a {
  color: $content-color;
  font-family: $default-fonts;
}
.pagination a {
  display: inline-block;
  width: 50%;
  height: 6em;
  color: $pagination-color;
  font-weight: 900;
  line-height: 6em;
  text-align: center;
  &:hover, &:focus, &:active {
    color: $container-color;
    background-color: $active-color;    
  }
}
.pagination-prev {
  float: left;
  margin-right: -2px;
  border-right: 1px solid $stroke-color;
  &:hover, &:focus, &:active {
    border-right: 1px solid $active-color;
  }
}
.pagination-next {
  float: right;
}
.copyright {
  clear: both;
  margin: 0;
  padding: 1em;
  border-top: 1px solid $stroke-color;
  font-family: $default-fonts;
  color: $content-color;
  text-align: center;
  background-color: $background-color;
  a {
    &:link, &:visited {
      color: $content-color;;
    }
    &:hover, &:focus, &:active {
      color: $active-color;
    }
  }
}
.post {
  position: relative;
  h1, h2, h3, h4, h5, h6 {
    width: 100%;
    margin: 1em 0 0 0;
    line-height: 2em;
  }
  h2, h3, h4, h5, h6 {
    color: $content-color;
  }
  h2 {
    font-size: 2em;
    font-weight: bold;
    line-height: 2em;
  }
  h3 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5em;
    color: darken($container-color, 40%);
  }
  h4 {
    font-size: 1.25em;
    font-weight: normal;
    line-height: 1.25em;
    color: darken($container-color, 40%);
  }
  h5 {
    font-size: 1em;
    line-height: 1em;
  }
  h6 {
    margin-top: 3em;
    font-size: 1em;
    line-height: 1.5em;
    a {
      color: $active-color;
    }
  }
  p {
    margin: 0.5em 0;
    letter-spacing: 1px;
    line-height: 1.5em;
    color: darken($container-color, 50%);
  }
  img {
    display: block;
    max-width: 100%;
    width:auto;
    height: auto;
    margin: 1em auto;
  }
  td[class="code"] {
    margin: 0 3px;
    padding: 0 3px;
  }
  ul, ol {
    padding: 0 0 0 2em;
  }
  ul li {
    list-style-type: disc;
  }
  ol li {
    list-style-type: decimal;
  }
  .post-header {
    margin-bottom: 3em;
    padding: 3em;
    background-color: $fill-color;
  }
  .post-time {
    display: none;
  }
  .post-tag{
    padding: 0;
  }
}

.highlight {
  width: 100%;
  overflow: auto;
  background-color: $fill-color;
  .gutter {
    display: none;
  }
  table {
    margin: 1em 0;
  }
  pre {
    width: 100%;
    overflow: auto;
    margin: 0;
    padding: 1em 0 1em 1em;
  }
  .comment {
    color: $comment-color;
  }
}

















