body {
  width: 70em; // 1100/1440
  margin: 0 auto;
}
header {
  float: left;
  width: 13em;
}
section {
  float: right;
  width: 54em;
}

@media screen and (max-width: 80em) {
  .header {
    width: 100%;
    .nav {
      display: inline-block;
    }
  }
  section {
    width: 100%;
  }
}