// 头部
header {
  text-align: center;
  .logo {
    padding: 8em 0 0 0;
  }
  .nav {
    padding: 3em 0 0 0;
  }
  .search {
    padding: 2em 0 0 0;
  }
}

// logo
.logo img {
  width: 180px;
  height: 54px;
}
// 菜单
.nav a {
  display: block;
  width: 180px;
  margin: 0;
  font-size: 14px;
  line-height: 2.25em;
  text-decoration: none;
}
// 首页内容列表
section {
  margin: 3em 0 0 0;
  box-shadow: 0 0 30px darken($container-color, 10%);
}
.article-list {
  margin: 0;
  padding: 0;
}
.article-list > li {
  padding: 5em 5em 3em; 
  border-bottom: 1px solid darken($container-color, 10%);
  > a {
    display: block;
    width: 100%;
    margin: 10px 0;
    font-size: 2em;
    line-height: 1.5em;
  }
}
.post-meta, .post-tag, .post-tag li{
  display: inline-block;
}
.post-meta {
  line-height: 1.5em;
}
.post-meta, .post-tag a {
  color: darken($container-color, 30%);

}
.post-tag {
  padding: 0 0 0 1em;
}
.post-tag a{
  margin: 0 5px;
  border: 1px solid darken($container-color, 10%);
  padding: 4px 10px;
  border-radius: 10px;
  @include active-effect();
}
li .post-content a {
  color: darken($container-color, 60%);
}
.post-content {
  margin-top: 2em;
  color: darken($container-color, 60%);
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.5em;
}
.pagination {
  a {
    display: inline-block;
    width: 50%;
    height: 6em;
    color: darken($container-color, 30%);
    font-weight: 900;
    line-height: 6em;
    text-align: center;
    &:hover, &:focus, &:active {
      // border: 1px solid $active-color;
      color: $container-color;
      background-color: $active-color;    
    }
  }
}
.pagination-prev {
  float: left;
  margin-right: -2px;
  border-right: 1px solid darken($container-color, 10%);
  &:hover, &:focus, &:active {
    border-right: 1px solid $active-color;
  }
}
.pagination-next {
  float: right;
}
.copyright {
  margin: 0;
  padding: 1em;
  clear: both;
  font-family: $default-fonts;
  color: darken($container-color, 60%);
  text-align: center;
  border-top: 1px solid darken($container-color, 10%);
  background-color: $background-color;
  a {
    color: darken($container-color, 60%);
    &:link, &:visited {
      color: darken($container-color, 60%);;
    }
    &:hover, &:focus, &:active {
      color: $active-color;
    }
  }
}

// 文章页面排版
.post {
  position: relative;
  padding: 6em;
  h1, h2, h3, h4, h5, h6 {
    width: 100%;
    margin: 1em 0 0 0;
    line-height: 2em;
  }
  h2, h3, h4, h5, h6 {
    color: darken($container-color, 60%);
  }
  h2 {
    font-size: 2em;
    font-weight: bold;
    line-height: 2em;
  }
  h3 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5em;
    color: darken($container-color, 40%);
  }
  h4 {
    font-size: 1.25em;
    font-weight: normal;
    line-height: 1.25em;
    color: darken($container-color, 40%);
  }
  h5 {
    font-size: 1em;
    line-height: 1em;
  }
  h6 {
    font-size: 1em;
    line-height: 1em;
  }
  p {
    margin: 0.5em 0;
    letter-spacing: 1px;
    line-height: 1.5em;
    color: darken($container-color, 50%);
  }
  img {
    display: block;
    max-width: 100%;
    width:auto;
    height: auto;
    margin: 1em auto;
  }
  code {
    margin: 0 3px;
    padding: 0 3px;
    background-color: darken($container-color, 3%);
  }
  ul, ol {
    padding: 0 0 0 2em;
  }
  ul li {
    list-style-type: disc;
  }
  ol li {
    list-style-type: decimal;
  }
  .post-header {
    margin-top: -2em;
    margin-bottom: 4em;
    padding: 5em;
    background-color: darken($container-color, 3%);
  }
  .post-tag {
    padding: 0 0 0 10px;
  }
  .post-tag a {
    padding: 2px 10px;
  }
}

.post-content a {
  color: $active-color;
  &:hover, &:focus, &:active {
    color: darken($container-color, 50%);  
  }
}

.highlight {
  margin: 0;
  padding: 0 1em;
  background-color: darken($container-color, 3%);
  pre {
    width: 40em;
    overflow: auto;
  }
  .gutter {
    display: none;
  }
  .comment {
    color: darken($container-color, 30%);
  }
  .line {
    font-family: $code-fonts;
    color: darken($container-color, 80%);
  }
}

















