// color
$default-color: #000;
$active-color: #1C89D3;
$background-color: #f3f3f3;
$container-color: #fff;

// fonts
$default-fonts: "Lantinghei SC", "Arial";
$emphatic-fonts: "Adobe Heiti Std";
$code-fonts: "Courier New", "Courier";